{% extends "nagoyameshi/base.html" %}

{% block extra_head %}
<script>console.log("ここにheadタグに追加するCSSやJSを書く");</script>
{% endblock %}

{% block main %}
<div class="container">
  <div class="table-responsive">
   <h3>・・・店舗検索</h3>
    <form action="" method="GET">

      {% comment %}
      <p>■カテゴリを選択</p>
      {% for category in categories %}
      <label>
        <input type="checkbox" name="category_multi" value="{{category.id}}" {% if request.GET.category == category.str_id %}checked{% endif %}>{{ category.name }}
      </label>
      {% endfor %}
      {% endcomment %}

      {# categoryのプルダウンを作成 #}
      <select name="category">
      <option value="">カテゴリ</option>

      {# categoriesをレンダリング #}
      {% for category in categories %}
      <option value="{{ category.id }}" {% if request.GET.category == category.str_id %}selected{% endif %}>{{ category.name }}</option>
      {% endfor %}
      </select>

      <input type="text" name="search" value="{{ request.GET.search }}" placeholder="キーワード"> 
      <input type="submit" value="検索">

    </form>
    <table class="table table-bordered">  
     
      <thead>
        <tr>
          <th>カテゴリ</th>
          <th>店舗名</th>
          <th>平均予算</th>
          <th></th>
          <th>店舗詳細</th>
        </tr>
      </thead>
      {# views.pyで取り出したデータを表示 #}
      
      {% for restaurant in restaurants %}
      {# categoryのプルダウンを作成 を表示させる場合 #}
      <tr>
      <th>{{ restaurant.category }}</th>
      {# name を表示させる場合 #}
        <th>{{ restaurant.name }}</th>
      {# budget を表示させる場合#}
        <th>{{ restaurant.budget }}</th>
      {# img を表示 #}
      {# 画像の保存先の場所 ↓     配信先のURLも含めてURLを生成する必要がある。  #}
            <th><img src="{{ restaurant.img.url }}" alt="" style="width: 20%; height: 20%;"></th>

      {# 店舗のURLを用意 #}
        <th><a href="{% url 'nagoyameshi:restaurant' restaurant.id %}">店舗詳細</a></th>
      </tr>    
      {% endfor %}
    </table>
    {# ページの表示 #}
    {{ restaurants.number }} / {{ restaurants.paginator.num_pages }} ページ<br>

    {# 前へ #}
    {% if restaurants.has_previous %}
    <a href="{{ restaurants.first_page_link }}">&laquo; 先頭</a>
    <a href="{{ restaurants.previous_page_link }}">前へ</a>
    {% endif %}

    {# 次へ #}
    {% if restaurants.has_next %}
    <a href="{{ restaurants.next_page_link }}">次へ</a>
    <a href="{{ restaurants.end_page_link }}">最後 &raquo;</a>
    {% endif %}
    
{% endblock %}