{% extends "nagoyameshi/base.html" %}

{% block extra_head %}
<script>console.log("ここにheadタグに追加するCSSやJSを書く");</script>
{% endblock %}

{% block main %}
<div class="container">
<div class="table-responsive">
<h3>・・・店舗詳細</h3>
<table class="table table-bordered">  
     
  <thead>
    <tr>
      <th>カテゴリ</th>
      <th>店舗名</th>
      <th>平均予算</th>
      <th>店舗詳細</th>
    </tr>
  </thead>
  {# views.pyで取り出したデータを表示 #}
  
  {# categoryのプルダウンを作成 を表示させる場合 #}
  <tr>
  <th>{{ restaurant.category }}</th>
  {# name を表示させる場合 #}
    <th>{{ restaurant.name }}</th>
  {# budget を表示させる場合#}
    <th>{{ restaurant.budget }}</th>
  
  {# 店舗のURLを用意 #}
    <th><a href="{% url 'nagoyameshi:restaurant' restaurant.id %}">店舗詳細</a></th>
  </tr>    
  <tr>{# img を表示 #}
    {# 画像の保存先の場所 ↓     配信先のURLも含めてURLを生成する必要がある。  #}
    <img src="{{ restaurant.img.url }}" alt="店舗画像" >
  </tr>
  
</table>

<h2>レビュー投稿</h2>

{# ReviewViewを送信先にする。 #}
<form action="{% url 'nagoyameshi:review' restaurant.id %}" method="post">
  {% csrf_token %}
  <input type="text" name="comment">
  <input type="number" name="stars">
  <!-- reutaurant.idはpkで取得して固定値に -->
  <input type="text" name="restaurant" value="{{ restaurant.id }}">
  <input type="text" name="user" value="{{ request.user.id }}">

  <input type="submit" value="送信">
</form>

<h2>投稿されたレビュー一覧</h2>

{# contextに与えられたreviewsを使ってレビューを表示 #}

{% for review in reviews %}
<div>{{ review.comment }}</div>
{% endfor %}


{% endblock %}